.avbtn :global(.btn-custom){
  color: white;
  background-color: green;
  width: 100%;
}
@media (min-width: 600px) {
  .avform {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
